<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="base_height" value="0.55" />
  <xacro:property name="base_radius" value="0.2" />
  <xacro:property name="base_mass" value="20" />

  <xacro:property name="wheel_radius" value="0.06" />
  <xacro:property name="wheel_width" value="0.025" />
  <xacro:property name="wheel_pos_x" value="0.0" />
  <xacro:property name="wheel_pos_y" value="0.13" />
  <xacro:property name="wheel_pos_z" value="0" />
  <xacro:property name="wheel_pos_zz" value="-0.03" />
  <xacro:property name="wheel_mass" value=".1" />
  <xacro:property name="wheel_torque" value="20" />
  <xacro:property name="front_caster_wheel" value="true" />
  <xacro:property name="rear_caster_wheel" value="true" />

  <xacro:property name="caster_wheel_radius" value="0.03" />
  <xacro:property name="caster_wheel_pos_x" value="0.11" />
  <xacro:property name="caster_wheel_pos_y" value="0.14" />
  <xacro:property name="caster_wheel_pos_z" value="-0.045" />
  
  
  <xacro:property name="front_laser_pose">
    <origin xyz="0.16 0 0.075" rpy="0 0 0"/>
  </xacro:property>

  <xacro:property name="back_laser_pose">
    <origin xyz="-0.16 0 0.075" rpy="0 0 0"/>
  </xacro:property>
  
  <xacro:property name="depth_sensor_pose">
    <origin xyz="0.16 0.0 0.275" rpy="0 0 0"/>
  </xacro:property>
</robot>
